@import '../../../mixins';
.chapter-wrapper {
  color: white;

  .backdrop-img img {
    width: 100%;
    display: block;
    //    min-height: 100%;
    // min-width: 100%;
    // width: auto;
    // height: auto;
    // margin: 0;
    // padding: 0;
  }
  .title {
    font-size: 28px;
    line-height: 40px;
    @include md {
      font-size: 34px;
      line-height: 44px;
    }
  }
  .subtitle {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 15px;
    font-style: italic;
    opacity: 0.5;
    text-align: center;
    font-weight: 400;
    @include md {
      font-size: 15px;
      line-height: 28px;
    }
  }
  .genres {
    margin-bottom: 25px;
    flex-flow: row wrap;
  }
  .overview {
    margin-bottom: 25px;
    .heading {
      font-size: 24px;
      margin-bottom: 10px;
    }
    .description {
      line-height: 24px;
      opacity: 0.5;
      @include md {
        padding-right: 100px;
      }
    }
  }
  .circleRating {
    max-width: 70px;
    background-color: var(--black2);
    @include md {
      max-width: 90px;
    }
    .CircularProgressbar-text {
      fill: white;
    }
  }
  .playbtn {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    svg {
      width: 60px;
      @include md {
        width: 80px;
      }
    }
    .text {
      font-size: 20px;
      transition: all 0.7s ease-in-out;
    }
    .triangle {
      stroke-dasharray: 240;
      stroke-dashoffset: 480;
      stroke: white;
      transform: translateY(0);
      transition: all 0.7s ease-in-out;
    }
    .circle {
      stroke: white;
      stroke-dasharray: 650;
      stroke-dashoffset: 1300;
      transition: all 0.5s ease-in-out;
    }
    &:hover {
      .text {
        color: var(--pink);
      }
      .triangle {
        stroke-dashoffset: 0;
        opacity: 1;
        stroke: var(--pink);
        animation: trailorPlay 0.7s ease-in-out;
      }
      .circle {
        stroke-dashoffset: 0;
        stroke: var(--pink);
      }
    }
  }
  .row {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
  }

  .info {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 0;
    display: flex;
    .infoItem {
      margin-right: 10px;
      display: flex;
      flex-flow: row wrap;
    }
    .text {
      margin-right: 10px;
      opacity: 0.5;
      line-height: 24px;
      &.bold {
        font-weight: 600;
        opacity: 1;
      }
    }
  }

  .chapter-navBtn {
    display: inline-flex;
    //width: 100%;
    align-items: center;
    column-gap: 0.375rem;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    background-color: rgb(31 41 55 / 1);
    transition: 0.5s;
    background-size: 140% auto;
  }

  .chapter-navBtn.nlast {
    background-image: var(--gradient);

    &:hover {
      background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
      background-position: right center; /* change the direction of the change here */
    }
  }
}
