.switchingTabs {
  height: 34px;
  background-color: white;
  border-radius: 20px;
  padding: 2px;
  .tabItems {
    display: flex;
    align-items: center;
    height: 30px;
    position: relative;
    .tabItem {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      color: var(--black);
      font-size: 14px;
      position: relative;
      z-index: 1;
      cursor: pointer;
      transition: color ease 0.3s;
      &.active {
        color: white;
      }
    }
    .movingBg {
      height: 30px;
      width: 100px;
      border-radius: 15px;
      background-image: var(--gradient);
      position: absolute;
      left: 0;
      transition:
              left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;
      animation-duration: 1s;
      //animation-iteration-count: infinite;
    }

    .movingBg.small {
      animation-name: bounce-3;
      animation-timing-function: ease-out;
    }

    @keyframes bounce-3 {
      //0%   { transform: translateY(0); }
      //30%  { transform: translateY(-100px); }
      //50%  { transform: translateY(0); }
      //100% { transform: translateY(0); }
      0% {
        transform: translateY(0%);
      }

      //15% {
      //  transform: translateY(-25%);
      //}

      30% {
        transform: translateY(20%);
      }

      //45% {
      //  transform: translateY(-15%);
      //}

      60% {
        transform: translateY(10%);
      }

      75% {
        transform: translateY(-5%);
      }

      100% {
        transform: translateY(0%);
      }
    }
  }
}
